.App {
  text-align: center;
}
table th{
  border: 1px solid black;
  padding: 20px;
}
table td{
  border: 1px solid black;
  padding: 20px;
}
.mmm{
  display: flex;
  margin-left: 250px;
}
.yy{
  width: 170px;
  text-align: center;
}